*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.navs{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding:15px 20px;
    background: #91d8f7;
}
.why{
    overflow-y: hidden;
}  
.navbarBrand{
    width: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.navbarHead{
 font-family: monospace;
}
.navbarTogglerDiv{
    width: 30px;
    border: 2px solid #cccccc;
    padding: 2px 19px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    display: none;
}
.bar1{
    width: 10px;
    background: #89cff0;
    padding: 3px 11px;
    margin-top: 2px;
    transform: translateX(2px);
}

.bar2{
    width: 10px;
    background: #89cff0;
    padding: 3px 11px;
    margin-top: 4px;
    transform: translateX(-10px);
}

.bar3{
    width: 10px;
    background: #89cff0;
    padding: 3px 11px;
    margin-top: 4px;
    margin-bottom: 2px;
    transform: translateX(-17px);
}
.linksBody{
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: right;
}
.ulList{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    padding-top: 6px;
}
.listItems{
    padding-right: 12px;
    font-family: cursive;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 700;
}

.listItems:hover{
    padding-right: 12px;
    font-family: cursive;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 700;
}
.contentDiv{
    width: 45%;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    overflow-y: hidden;
    padding-top: 120px;
}
.specialImgDiv{
    width: 45%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 100px;
}

.contained{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.startedBtn{
    margin-right: 450px;
    background: #91d8f7;
    border: #91d8f7;
    color: black;
    font-weight: 500;
    transition: all 1s ease;
}
.startedBtn:hover{
    background: #0069d9;
    color: white;
    font-weight: 500;
}